// oranje
$color-cocotte: #ff5500;
$color-cocotte-light: #ff7B4D;
$color-rust: #93340F; // donkere cocotte
// groen
$color-caesar: #a6dd2c;
$color-caesar-light: #d1ef54;
$color-caesar-dark: #789900;
// wit
$color-milk: #fff;
$color-chicken: #e8e1da; // donkere milk
// grijs
$color-iron: #32303a;
$color-iron-light: #56555e;
$color-iron-dark: #1a1923;