h1 Ook zo benieuwd waar je gaat eten?
p Hou jezelf dan niet langer in spanning.
= simple_form_for @code, url: activation_path(@code.code) do |f|
  = f.submit 'Onthul mijn bestemming', class: 'btn btn-primary btn-full-width'
