script src="https://maps.google.com/maps/api/js?v=3.25&key=#{Rails.application.secrets.google_api_key}"
script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"
